fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
numpy==1.26.2
Pillow==10.1.0
opencv-python-headless==4.8.1.78
timm==0.9.12
facenet-pytorch==2.5.3
pytorch-grad-cam==1.5.0
requests==2.31.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.2+cpu
torchvision==0.16.2+cpu
